body {
    margin: 0;
    overflow: hidden;
    text-align: center;
    background-color: #11d8f3;
}

img {
    height: 100px;
    width: 100px;
    padding: 20px;
}

button {
    background: none;
    border: none;   
}